/***** Base Styling *****/
body {
    box-sizing: border-box;
    background-image: url('parchment.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Belleza', sans-serif;
}

header {
    border: 2px solid black;
    background-color: rgba(13, 109, 253, 0.7);
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 10px 0px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

#wisdom {
    margin-top: 25px;
    /*animation wiswrite 10s infinite;*/
}

/*
@keyframes wiswrite {
    0% {
        width: 0px;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}*/